h3 {
	text-align: center;
}

#top {
	background: url(../images/My_portfolio/Snowy_highway.jpg) no-repeat 50% 50%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	display: block;
}


.text-vertical-center {
    text-align: Left;
    vertical-align: bottom;
    padding-top: 500px;
	padding-bottom: 25px;
    padding-left: 25px;
	color: #fff;
}

#bio {
	 background-color: #F0F8FF;
}


.btn-warning {
	color: #fff;
    background-color: #87CEFA;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
	
	
